/* -------- header -------- */

header {
    background-color: lightseagreen;
    padding-top: 10px;
}
h1 {
    text-align: center;
}
.container {
    display: flex;
    flex-direction: row;
    justify-content: center
}
.trackers {
    display: flex;
    flex-direction: row;
    margin: 20px 20px 40px 20px;
}
.label {
    margin-right: 10px;
}

/* -------- main -------- */

#deck, #seen {
    position: relative;
}
.card {
    position: absolute;
    left: 0;
    top: 0;
}
img {
    width: 100px;
    height: 145px;
}
table {
    margin: 0 auto;
}
td {
    width: 100px;
    height: 145px;
    border: 1px solid black;
}