/* -------- header -------- */

header {
    background-color: lightseagreen;
    padding-top: 10px;
}
h1 {
    text-align: center;
}
.container {
    display: flex;
    flex-direction: row;
    justify-content: center
}
.trackers {
    display: flex;
    flex-direction: row;
    margin: 20px 20px 40px 20px;
}
.label {
    margin-right: 10px;
}

/* -------- main -------- */
.cards-container {
    display: flex;
    align-items: stretch;
    height: 70vh;
}

    /* -------- column 1 -------- */
#col-1 {
    display: flex;
    flex: 0.25;
    background-color: lightblue;
    justify-content: center;
    position: relative;
    height: 100vh;
}
#deck {
    margin-top: 30px;
    position: absolute;
    left: 0px;
}
.deck-card {
    position: absolute;
    left: 20px;
    top: 0px;
}
img {
    border: solid black 2px;
    height: 90px;
    width: 60px;
    margin: 20px;
}

    /* -------- column 2 -------- */
#col-2 {
    flex: 0.75;
    background-color: lightcoral;
    height: 100vh;
}
#tableau {
    margin-top: 30px;
    position: relative;
}
.tab-col {
    margin-right: 90px;
}
.tab-card {
    position: absolute;
}
#foundations {
    background-color: lightpink;
    padding: 20px 0px 20px 0px;
}

