/* -------- header -------- */

header {
    background-color: lightseagreen;
    padding-top: 10px;
}
h1 {
    text-align: center;
}
.container {
    display: flex;
    flex-direction: row;
    justify-content: center
}
.trackers {
    display: flex;
    flex-direction: row;
    margin: 20px 20px 40px 20px;
}
.label {
    margin-right: 10px;
}

/* -------- main -------- */

#deck, #seen {
    position: relative;
}
.card {
    position: relative;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}
.flipped {
    transform: rotateY(180deg);
}
.front, .back {
    position: absolute;
    left: 0;
    top: 0;
    backface-visibility: hidden;
    width: 100px;
    height: 145px;
}
.front {
    transform: rotateY(180deg);
}
img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100px;
    height: 145px;
}
table {
    margin: 0 auto;
}
td {
    width: 100px;
    height: 145px;
    padding: 10px;
}